@font-face {
  font-family: inter;
  src: url(../fonts/Inter-ExtraBold.ttf);}
@font-face {
  font-family: MerriweatherLight;
  src: url(../fonts/Merriweather-Light.ttf);}

$color-1: grey;
$blanck: white;
$black: black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MerriweatherLight", sans-serif;
  list-style: none;
  color: rgb(92, 92, 92);
  outline: none;
}

.btn {
  border: 1px solid $black;
  background: none;
}