@font-face {
  font-family: inter;
  src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: MerriweatherLight;
  src: url(../fonts/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "MerriweatherLight", sans-serif;
  list-style: none;
  color: black;
  outline: none;
  text-align: center;
}

body {
  background: url(../images/bg.jpg) fixed center/cover;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  border: 2px solid black;
  background: none;
  padding: 12px 32px;
  text-transform: uppercase;
  font-family: "inter", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 2px;
  display: inline;
}

h1 {
  color: white;
  font-family: "inter", sans-serif;
  font-size: 3.2rem;
  text-transform: uppercase;
  line-height: 65px;
  width: 70%;
  letter-spacing: 4px;
  margin: 0 auto 36px;
}

h2 {
  font-family: "inter", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 65px;
  letter-spacing: 4px;
  max-width: 600px;
}

h3 {
  font-family: "inter", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  max-width: 260px;
  line-height: 35px;
}

.container {
  padding: 84px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px;
  width: 100%;
  background: white;
}

.subtitle {
  max-width: 600px;
  display: inline-block;
  line-height: 40px;
  font-size: 0.8rem;
  font-style: italic;
}

img {
  width: 100%;
}

header {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1100px;
  width: 100%;
  margin: 0 aut;
}
header p {
  font-style: italic;
  color: white;
  margin: 0 auto 36px;
}
header .picto {
  border: 1px solid white;
  border-radius: 500px;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background: rgba(246, 246, 246, 0.25);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav ul li {
  padding: 24px 16px;
  color: white;
  text-transform: uppercase;
  font-family: "inter", sans-serif;
  font-size: 0.7rem;
  letter-spacing: 1px;
  min-height: 65px;
}
nav ul .bg-withe {
  background: rgb(247, 247, 247);
  color: black;
}
nav ul i {
  color: white;
  font-size: 1rem;
  padding: 0 12px;
}

.section-1 {
  border-bottom: 1px solid rgb(219, 219, 219);
  max-width: 1100px;
}
.section-1 .date {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 36px;
}
.section-1 .date::before {
  content: "";
  width: 35%;
  height: 2px;
  background: rgb(238, 237, 237);
  position: absolute;
  top: 40%;
  left: 0;
}
.section-1 .date::after {
  content: "";
  width: 35%;
  height: 2px;
  background: rgb(238, 237, 237);
  position: absolute;
  top: 40%;
  right: 0;
}
.section-1 img {
  margin-bottom: 16px;
}

.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  max-width: 1100px;
  margin-bottom: 24px;
}
.section-2::before {
  content: "";
  width: 1px;
  height: 100%;
  background: rgb(219, 219, 219);
  position: absolute;
  top: 0;
  left: 50%;
}

footer {
  max-width: 1100px;
  background: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 48px;
}
footer::before {
  content: "";
  width: 1px;
  height: 100%;
  background: rgb(219, 219, 219);
  position: absolute;
  top: 0;
  left: 50%;
}
footer .footer-left {
  width: 50%;
  padding: 48px;
  display: grid;
}
footer .footer-left .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 12px;
}
footer .footer-left #email, footer .footer-left #name {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  height: 44px;
  margin-bottom: 12px;
}
footer .footer-left #message {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  height: 160px;
  resize: none;
  margin-bottom: 24px;
}
footer .footer-left .btn {
  width: 190px;
}
footer .footer-right {
  width: 50%;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
}
footer .footer-right div {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 50px 46px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-right div .txt {
  text-align: left;
  color: rgb(160, 160, 160);
  font-size: 0.9rem;
  line-height: 28px;
}
footer .footer-right .border {
  position: relative;
}
footer .footer-right .border::after {
  content: "";
  height: 1px;
  width: 100%;
  background: rgb(219, 219, 219);
  position: absolute;
  bottom: 0;
}
footer .footer-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 12px;
}
footer .footer-right ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 500px;
  border: 1px solid rgb(219, 219, 219);
}
footer .footer-right ul li a {
  font-size: 1.1rem;
}

label, .label {
  color: grey;
  text-transform: uppercase;
  font-family: "inter", sans-serif;
  font-size: 0.7rem;
  letter-spacing: 2px;
  text-align: left;
  color: rgb(131, 131, 131);
}

label {
  margin-bottom: 12px;
}

.label {
  margin-right: 32px;
}/*# sourceMappingURL=style.css.map */